@keyframes scroll {

    // 0%{
    //     transform: translateX(0);
    // }
    // 20%{
    //     transform: translateX(100%);
    // }
    // 40%{
    //     transform: translateX(200%);
    // }
    // 60%{
    //     transform: translateX(300%);
    // }
    // 80%{
    //     transform: translateX(400%);
    // }
    // 100%{
    //     transform: translateX(500%);
    // }
    0% {
        transform: translateX(0%);
    }

    10% {
        transform: translateX(100%);
    }

    20% {
        transform: translateX(100%);
    }

    30% {
        transform: translateX(200%);
    }

    40% {
        transform: translateX(200%);
    }

    50% {
        transform: translateX(300%);
    }

    60% {
        transform: translateX(300%);
    }

    70% {
        transform: translateX(400%);
    }

    80% {
        transform: translateX(400%);
    }

    90% {
        transform: translateX(500%);
    }

    100% {
        transform: translateX(500%);
    }
}

@keyframes test {
    0% {
        transform: translateY(-130px);
    }

    100% {
        transform: translateY(0px);
    }
}


// -----------------------------------------------------------------------------------------------
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 16px;
    font-family: 'Poppins-Bold';
    background-color: #FF5917;
    height: 55px;
    width: 140px;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    transition: .3s ease-in-out;

    &::before {
        content: '';
        height: 55px;
        width: 30px;
        position: absolute;
        border-top: 55px solid #ff5917;
        border-left: 17px solid transparent;
        left: -17px;
        transition: .3s ease-in-out;
    }

    &::after {
        content: '';
        height: 55px;
        width: 30px;
        position: absolute;
        border-top: 55px solid #ff5917;
        border-right: 17px solid transparent;
        right: -17px;
        transition: .3s ease-in-out;
    }

    &:hover {
        background-color: #262a33;

        &::before {
            border-top: 55px solid #262a33;
        }

        &::after {
            border-top: 55px solid #262a33;
        }
    }
}

.button-2 {
    height: 30px;
    width: 100px;
    background-color: #EE5519;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-size: 10px;
    font-family: 'Poppins-Bold';
    transition: .3s ease-in-out;
    position: relative;
    letter-spacing: 1px;

    &::before {
        content: '';
        position: absolute;
        height: inherit;
        width: 20px;
        left: -20px;
        border-top: 30px solid #18191f00;
        border-right: 16px solid #EE5519;
        transition: .3s ease-in-out;
    }

    &::after {
        content: '';
        position: absolute;
        height: inherit;
        width: 20px;
        right: -20px;
        border-top: 30px solid #EE5519;
        border-right: 16px solid #ee551900;
        transition: .3s ease-in-out;
    }

    &:hover {
        background-color: white;
        color: #EE5519;

        &::before {
            border-right: 16px solid #ffffff;
        }

        &::after {
            border-top: 30px solid #ffffff;
        }
    }
}

// ----------------------------------------------body-------------------------------------------------
body {
    cursor: default;
    background-color: #2a2b37;

    &::-webkit-scrollbar {
        width: 5px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #EE5519;
    }
}

#goTop {
    position: fixed;
    width: 40px;
    height: 40px;
    background-color: #EE5519;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    bottom: -60px;
    right: 20px;
    z-index: 1000;
    opacity: 0;
    transition: .6s cubic-bezier(0.68, -0.55, 0.265, 2.55);

    >i {
        color: #111111;
        font-size: 22px;
    }
}

// ---------------------------------------------header---------------------------------------
header {
    width: 100%;
}

// -------------------------------header nav-------------------------------
#header-navbar {
    width: 100%;
    background-color: #1C1F26;
    position: relative;
    transition: .4s ease-in-out;

    >section {
        width: 70%;
        margin: 0 auto;
        transition: 0.3s ease-in-out;
    }
}

#header-navbar-logo {
    width: 262px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 0;
    display: flex;
    justify-content: center;
    transition: 0.3s ease-in-out;
}

#header-navbar-bg {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -28px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#header-navbar-top {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 15px 0;
    border-bottom: 1px solid rgb(53, 53, 53);
}

#header-navbar-top-follow {
    display: flex;

    >p {
        font-size: 10px;
        color: white;
        font-family: 'oxanium-bold';
        text-transform: uppercase;
        display: flex;
        align-items: center;
        padding-right: 20px;
        letter-spacing: 2px;
    }

    >div {
        display: flex;

        >a {
            height: 32px;
            width: 38px;
            background: url(../../img/home2/img03.jpg);
            background-size: cover;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
            border-radius: 4px;
            box-shadow: rgb(0 0 0 / 35%) 0px 3px 7px 0px;
            font-size: 12px;
            color: #FF4800;
        }
    }
}

#header-navbar-top-btn {
    display: flex;

    >a {
        background-color: #23262D;
        font-size: 11px;
        color: #d4d4d4;
        text-transform: uppercase;
        font-family: 'oxanium-bold';
        padding: 7px 20px 5px 50px;
        display: flex;
        justify-content: center;
        border-top: 2px solid #2a2b37;
        border-bottom: 2px solid #2a2b37;
        box-shadow: rgb(0 0 0 / 35%) 0px 3px 7px 0px;
        position: relative;
        transition: .3s ease-in-out;

        >span {
            background-color: #1F1D28;
            height: 25px;
            width: 29px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #FF4800;
            font-size: 14px;
            position: absolute;
            top: 0;
            bottom: 0;
            margin: auto 0;
            left: 5px;
            padding-top: 3px;
        }

        &:hover {
            color: #FF4800;
        }
    }

    >p {
        font-size: 11px;
        color: #d4d4d4;
        text-transform: uppercase;
        font-family: 'oxanium-bold';
        padding: 0 10px;
        display: flex;
        align-items: center;
    }
}

#header-navbar-bottom {
    padding: 25px 0 15px 0;
    display: flex;
    justify-content: space-between;

    >ul {
        display: flex;
        align-items: center;

        >li {
            color: white;
            font-size: 14px;
            font-family: 'oxanium-bold';
            text-transform: uppercase;
            padding-right: 40px;
            cursor: pointer;
            transition: 0.3s ease-in-out;

            &:hover {
                >a {
                    color: #FF4800;
                    transition: .3s ease-in-out;
                }
            }
        }

        &:nth-of-type(2) {
            >li {
                padding-right: 0;
                padding-left: 40px;
            }
        }
    }
}

.search-btn {
    height: 48px;
    width: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 3px 7px 0px rgba(128, 18, 40, 0.2), inset 0px 3px 7px 0px rgba(56, 17, 33, 0.4);
    font-size: 13px;
    color: #ee5519;
    background-color: #262831;
    cursor: pointer;
    margin-left: 40px;
    border-radius: 5px;
}

#header-navbar-mobile {
    width: 100%;
    height: 80px;
    background-color: #1C1F26;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;

    >span {
        width: 40px;
        height: 40px;
        border: 1px solid white;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 25px;
        padding-top: 3px;
        cursor: pointer;
    }
}

// -------------------------------header content-------------------------------
#header-content {
    width: 100%;
    min-height: 90vh;
    position: relative;
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: center;
}

#header-content-back {
    background: url(../../img/home2/img07.jpg) center;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -10;
}

#header-content-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
    transition: 0.3s ease-in-out;

    >h1 {
        font-family: 'drinddemolished';
        font-size: 120px;
        color: white;
        text-transform: uppercase;
        position: relative;
        transition: 0.3s ease-in-out;

        >span {
            color: #EE5519;
            text-transform: uppercase;
        }

        &::before {
            content: '';
            width: 95%;
            height: 20px;
            background-color: #ee551969;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            margin: auto auto;
            z-index: -1;
            transform: scaleX(1.1);
            transform-origin: center;
        }

        >figure {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            top: -323px;
            z-index: -2;
            transition: 0.3s ease-in-out;
        }
    }

    >p {
        font-family: 'drinddemolished';
        font-size: 20px;
        color: white;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 10px;
        transition: 0.3s ease-in-out;
    }

    >span {
        margin-top: 30px;
    }
}

// ---------------------------------------------main---------------------------------------
main {
    width: 100%;
}

// -------------------------------skyward & information-------------------------------
#skyward-information {
    width: 100%;
    min-height: 300px;
    position: relative;
}

#skyward-information-back {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(../../img/home2/img09.jpg) center;
    background-size: cover;
    z-index: -2;
}

#skyward {
    width: 100%;
    padding: 100px 0;
}

#skyward-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15%;

    >h3 {
        padding-bottom: 10px;
        color: white;
        font-family: 'drinddemolished';
        text-transform: uppercase;
        font-size: 45px;

        >span {
            color: #EE5519;
            text-transform: uppercase;
        }
    }

    >div {
        position: relative;
        padding-left: 42px;

        >span {
            display: flex;
            font-family: 'drinddemolished';
            font-size: 16px;
            color: #ee5519;
            text-transform: uppercase;
            transform: rotate(-90deg);
            position: absolute;
            left: 2px;
            top: 0;
            bottom: 0;

        }

        >h3 {
            color: white;
            font-family: 'drinddemolished';
            text-transform: uppercase;
            font-size: 45px;
        }

        p {
            font-size: 16px;
            color: #cbcbcb;
            font-family: 'Poppins-Medium';
            width: 90%;
        }
    }

    >span {
        margin-top: 40px;
        margin-left: 30px;
    }
}

#skyward-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15%;
    position: relative;

    >img {
        &:nth-of-type(2) {
            position: absolute;
            z-index: -1;
        }
    }
}

#information {
    width: 100%;
}

#information-title {
    width: 100%;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    >h3 {
        color: white;
        font-size: 40px;
        font-family: 'drinddemolished';

        >span {
            color: #EE5519;
        }
    }

    >figure {
        margin-top: 10px;
    }
}

#information-cards {
    width: 70%;
    padding-bottom: 100px;
    padding-top: 30px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;

    >section {
        display: flex;
        justify-content: center;
    }
}

.information-card {
    background-color: #18191F;
    height: 190px;
    width: 413px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 45px;
    box-shadow: 0px 3px 24px 0px rgba(55, 17, 2, 0.52);
    margin-top: 40px;

    >span {
        background: url(../../img/home2/img12.png);
        position: absolute;
        width: 100%;
        display: flex;
        height: 48px;
        top: -7px;
        color: white;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        font-family: 'Poppins-ExtraBold';
        text-transform: uppercase;
        padding-left: 4px;

        >span {
            background: url(../../img/home2/img13.png);
            width: 188px;
            position: absolute;
            height: 48px;
            left: 4px;
            right: 0;
            margin: 0 auto;
            z-index: 1;
            opacity: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            font-family: 'Poppins-ExtraBold';
            text-transform: uppercase;
            transition: .3s ease-in-out;
        }
    }

    >div {
        width: 100px;
        height: 30px;
        border-radius: 30px;
        background-color: #202020;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        text-transform: capitalize;
        color: #d3d3d3;
        font-size: 12px;
        font-family: 'Poppins-SemiBold';
        cursor: pointer;
        transition: .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);

        >i {
            color: #EE5519;
            transition: .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }

        &:hover {
            background-color: #EE5519;
            color: #18191F;
            transform: scale(1.1);

            >i {
                color: #18191F;
            }
        }
    }

    >section {
        >h3 {
            color: white;
            font-size: 20px;
            font-family: 'drinddemolished';
            text-transform: uppercase;

            >span {
                color: #EE5519;
            }
        }

        >p {
            color: #dcdcdc;
            font-size: 12px;
            font-family: 'Poppins-Bold';
            text-transform: uppercase;
        }
    }

    &:hover {
        >span {
            >span {
                opacity: 1;
            }
        }
    }
}

// -------------------------------assassin-------------------------------
#assassin {
    width: 100%;
    background-color: #1A1A1E;
    min-height: 725px;
    position: relative;
    background: url(../../img/home2/img16.png) center;
}

#assassin-img {
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    bottom: -66px;
}

#assassin-fire-left {
    position: absolute;
    left: 30px;
    bottom: 0;
}

#assassin-fire-right {
    position: absolute;
    right: 30px;
    bottom: 0;

    >img {
        transform: scale3d(-1, 1, 1);
    }
}

// -------------------------------matches-------------------------------
#matches {
    width: 100%;
    min-height: 500px;
    padding-bottom: 80px;
    position: relative;
}

#matches-back {
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(../../img/home2/img21.jpg) center;
    background-size: cover;
    z-index: -10;
}

#matches-title {
    width: 100%;
    padding: 150px 0 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    >h3 {
        color: white;
        font-size: 40px;
        font-family: 'drinddemolished';

        >span {
            color: #EE5519;
        }
    }

    >figure {
        margin-top: 10px;
    }
}

#matches-cards {
    width: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    >section {
        margin-top: -34px;
        transition: .4s ease-in-out;
    }
}

.matches-card {
    position: relative;

    >div {
        width: 90%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto auto;
        display: flex;

        #matches-card-img {
            width: 42%;
            display: flex;

            >figure {
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
            }
        }

        #matches-card-details {
            width: 58%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 5%;

            >div {
                >span {
                    margin-bottom: 10px;
                    margin-left: 15px;
                }

                >h3 {
                    font-size: 20px;
                    color: white;
                    text-transform: capitalize;
                    font-family: 'oxanium-exbold';
                    margin-bottom: 15px;
                }

                >p {
                    color: #ff5917;
                    font-size: 14px;
                    font-family: 'Poppins-SemiBold';
                    text-transform: uppercase;
                }
            }

            >p {
                font-size: 12px;
                color: #8b8b8b;
                font-family: 'Poppins-Medium';
                text-transform: uppercase;
                cursor: pointer;
                transition: .3s ease-in-out;
                display: flex;
                align-items: center;

                >i {
                    font-size: 18px;
                    padding-right: 10px;
                    padding-top: 2px;
                    transition: .3s ease-in-out;
                }

                &:hover {
                    color: #EE5519;

                    >i {
                        color: #EE5519;
                    }
                }
            }
        }
    }
}

#matches-cards-mobile {
    width: 100%;
}

.matches-mobile-card {
    width: 450px;
    height: 350px;
    background-color: rgba(42, 40, 49, 0.49);
    box-shadow: 0px 3px 43px 0px rgba(15, 14, 13, 0.68);
    margin: 40px auto 0 auto;

    >figure {
        width: 100%;
        height: 40%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    >div {
        width: 100%;
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;

        >span {
            margin-bottom: 10px;
        }

        >h3 {
            font-size: 20px;
            color: white;
            text-transform: capitalize;
            font-family: 'oxanium-exbold';
            margin-bottom: 15px;
        }

        >p {
            color: #ff5917;
            font-size: 14px;
            font-family: 'Poppins-SemiBold';
            text-transform: uppercase;
        }
    }

    >span {
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;

        >p {
            font-size: 12px;
            color: #8b8b8b;
            font-family: 'Poppins-Medium';
            text-transform: uppercase;
            cursor: pointer;
            transition: .3s ease-in-out;
            display: flex;
            align-items: center;

            >i {
                font-size: 18px;
                padding-right: 10px;
                padding-top: 2px;
                transition: .3s ease-in-out;
            }

            &:hover {
                color: #EE5519;

                >i {
                    color: #EE5519;
                }
            }
        }
    }
}

// -------------------------------donation-------------------------------
#donation {
    width: 100%;
    background: url(../../img/home2/img30.jpg) center;
    background-size: cover;
    padding: 150px 0;
    position: relative;
}

#donation-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15%;

    >h3 {
        padding-bottom: 10px;
        color: white;
        font-family: 'drinddemolished';
        text-transform: uppercase;
        font-size: 45px;

        >span {
            color: #EE5519;
            text-transform: uppercase;
        }
    }

    >div {
        position: relative;
        padding-left: 42px;

        >span {
            display: flex;
            font-family: 'drinddemolished';
            font-size: 16px;
            color: #ee5519;
            text-transform: uppercase;
            transform: rotate(-90deg);
            position: absolute;
            left: 2px;
            top: 0;
            bottom: 0;

        }

        >h3 {
            color: white;
            font-family: 'drinddemolished';
            text-transform: uppercase;
            font-size: 45px;
        }

        p {
            font-size: 16px;
            color: #cbcbcb;
            font-family: 'Poppins-Medium';
            width: 90%;
        }
    }

    >span {
        margin-top: 40px;
        margin-left: 30px;
    }
}

#donation-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 15%;

    >img {
        position: absolute;
        bottom: 0;
    }
}

// -------------------------------team-------------------------------
#team {
    width: 100%;
    padding-bottom: 100px;
    position: relative;
}

#team-back {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -10;
    background: url(../../img/home2/img32.jpg) center;
    background-size: cover;
}

#team-title {
    width: 100%;
    padding: 100px 0 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    >h3 {
        color: white;
        font-size: 40px;
        font-family: 'drinddemolished';

        >span {
            color: #EE5519;
        }
    }

    >figure {
        margin-top: 10px;
    }
}

#team-cards {
    width: 70%;
    margin: 0 auto;
}

.team-card {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 350px;

    >figure {
        position: relative;

        >img {
            cursor: pointer;

            &:nth-of-type(2) {
                position: absolute;
                left: 0;
                right: 0;
                margin: 0 auto;
                opacity: 0;
                transition: .3s ease-in-out;
            }

            &:nth-of-type(3) {
                position: absolute;
                left: 0;
                right: 0;
                margin: 0 auto;
                bottom: 81px;
                z-index: -1;
                transition: .3s ease-in-out;
            }
        }

        >div {
            cursor: pointer;
            width: 100%;
            height: 80%;
            position: absolute;
            bottom: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;

            >h3 {
                font-size: 18px;
                color: white;
                font-family: 'Poppins-Bold';
                text-transform: uppercase;
            }

            >p {
                font-family: 'Poppins-Bold';
                font-size: 11px;
                color: #EE5519;
                text-transform: uppercase;
                letter-spacing: 2px;
                transition: .3s ease-in-out;
            }
        }

        &:hover {
            >img {
                &:nth-of-type(2) {
                    opacity: 1;
                }

                &:nth-of-type(3) {
                    filter: drop-shadow(0px 0px 23px #FFFFFF);
                    transform: scale(1.1);
                }
            }

            >div {
                >p {
                    color: #18191F;
                }
            }
        }
    }
}

// -------------------------------contact-------------------------------
#contact {
    width: 100%;
    min-height: 500px;
    padding: 150px 0;
    position: relative;
}

#contact-back {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../../img/home2/img39.jpg) center;
    background-size: cover;
    z-index: -10;
}

#contact-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15%;

    >h3 {
        padding-bottom: 10px;
        color: white;
        font-family: 'drinddemolished';
        text-transform: uppercase;
        font-size: 45px;

        >span {
            color: #EE5519;
            text-transform: uppercase;
        }
    }

    >div {
        position: relative;
        padding-left: 42px;

        >span {
            display: flex;
            font-family: 'drinddemolished';
            font-size: 16px;
            color: #ee5519;
            text-transform: uppercase;
            transform: rotate(-90deg);
            position: absolute;
            left: 2px;
            top: 0;
            bottom: 0;

        }

        >h3 {
            color: white;
            font-family: 'drinddemolished';
            text-transform: uppercase;
            font-size: 45px;
        }

        p {
            font-size: 16px;
            color: #cbcbcb;
            font-family: 'Poppins-Medium';
            width: 90%;
        }
    }

    >span {
        margin-top: 40px;
        margin-left: 30px;
    }
}

#contact-form {
    padding-left: 5%;

    >form {
        >div {
            display: flex;
            justify-content: space-between;
            width: 620px;

            >input {
                height: 60px;
                width: 300px;
                background-color: #292A2E;
                border: none;
                outline: none;
                color: white;
                font-size: 14px;
                font-family: 'Poppins-Medium';
                padding-left: 20px;

                &::placeholder {
                    color: rgb(143, 143, 143);
                    text-transform: capitalize;
                }
            }
        }

        >textarea {
            width: 620px;
            height: 160px;
            background-color: #292A2E;
            border: none;
            outline: none;
            color: white;
            font-size: 14px;
            font-family: 'Poppins-Medium';
            padding-left: 20px;
            padding-top: 10px;
            margin-top: 20px;
            resize: none;

            &::placeholder {
                color: rgb(143, 143, 143);
                text-transform: capitalize;
            }
        }

        >button {
            margin-top: 20px;
            margin-left: 18px;
            border: none;
            outline: none;
        }
    }
}

// -------------------------------brand-------------------------------
#brand {
    width: 100%;
    height: 235px;
    background-color: #131418;

    >div {
        width: 70%;
        height: 100%;
        margin: 0 auto;
        display: flex;
        overflow: hidden;
        justify-content: end;


        >figure {
            height: 100%;
            min-width: 267.69px;
            display: flex;
            justify-content: center;
            align-items: center;
            animation: scroll ease-in-out 8s infinite;

        }
    }
}

// ---------------------------------------------footer---------------------------------------
footer {
    width: 100%;
    padding: 70px 0;
    background: url(../../img/home2/img45.jpg) center;
    background-size: cover;
}

#footer-content {
    width: 70%;
    margin: 0 auto;
}

#footer-content-info {
    >p {
        font-size: 14px;
        color: #cbcbcb;
        font-family: 'Poppins-Medium';
        margin-top: 30px;
        width: 85%;
    }

    >div {
        width: 100px;
        display: flex;
        justify-content: space-between;
        margin-top: 20px;

        >i {
            font-size: 14px;
            color: #969696;
            transition: .3s ease-in-out;
            cursor: pointer;

            &:hover {
                color: #EE5519;
            }
        }
    }
}

#footer-contetn-link {
    text-align: end;

    >h3 {
        font-size: 26px;
        color: white;
        text-transform: uppercase;
        font-family: 'drinddemolished';

        >span {
            color: #EE5519;

        }
    }

    >ul {
        margin-top: 20px;

        >li {
            color: #ABB5B5;
            font-size: 14px;
            font-family: 'Poppins-Medium';
            text-transform: capitalize;
            text-align: end;
            margin-top: 10px;

            &:hover {
                >a {
                    color: #EE5519;
                    transition: .3s ease-in-out;
                }
            }
        }
    }
}

// ---------------------------------------------mehrab---------------------------------------
#mehrab {
    width: 100%;
    height: 68px;
    background-color: #161417;
    display: flex;

    >div {
        height: 100%;
        width: 70%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        >p {
            color: #90949c;
            font-size: 14px;
            font-family: 'Poppins-Medium';
            text-transform: capitalize;

            >span {
                color: #EE5519;
                text-transform: capitalize;
            }
        }
    }
}